.menu__card:focus{
    .cont-animmenu{
        animation: add_checkout 500ms alternate;
        animation-fill-mode: both;
    }
    i{
        animation: add_checkout-icn 750ms 250ms alternate;
        animation-fill-mode: both;
    }
    .menu__card-price p{
        animation: add_checkout-price 500ms alternate;
        animation-fill-mode: both;
    }
}


@keyframes add_checkout{
    0% {
        transform: translateX(40px);
    }
    50%,100% {
        opacity: 1;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
    }

@keyframes add_checkout-icn{
    0% {
        transform:rotateY(0deg)
    }
    100% {
        transform:rotateY(360deg);
    }
}


@keyframes add_checkout-price{
    0% {
        transform: translateX(0px);
    }
    90%,100% {
        opacity: 1;
    }
    100% {
        transform: translateX(-50px);
        opacity: 1;
            
    }
}


.cont-animmenu{
    position: absolute;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-tertiary;
    border-radius: 0 15px 15px 0;
    width: 65px;
    height: 80px;
}

.fa-circle-check{
    font-size: 24px;
    color: white;
}

.starter{
    animation: loader_menu-starter 1000ms;
}
.dish{
    animation: loader_menu-dish 1500ms;
}
.dessert{
    animation: loader_menu-dessert 2000ms;
}

@keyframes loader_menu-starter{
    0% {
        transform: translateX(2000px);
        animation-timing-function: cubic-bezier(.12,.15,0,1);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes loader_menu-dish{
    0%, 25% {
        transform: translateX(2000px);
        animation-timing-function: cubic-bezier(.12,.15,0,1);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes loader_menu-dessert{
    0%, 50% {
        transform: translateX(2000px);
        animation-timing-function: cubic-bezier(.12,.15,0,1);
    }
    100% {
        transform: translateX(0px);
    }
}