.btn-primary{
    text-align: center;
    color: white;
    padding: 14px 25px 14px 25px;
    margin: 20px;
    border-radius: 60px;
    background: $gradint-btn;
    transition: all 330ms ease-in-out;
    &:hover{
        transform: scale(1.1);
        opacity: 0.9;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    }
}


.btn-second{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 0;
    margin: 20px 0px;
    
    border-radius: 25px;
    margin-left: 5px;

    background: $background-color;
    &-number{
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        width: 30px;
        height: 30px;
        background-color: $color-primary;
        border-radius: 50%;
        margin-left: -11px;
    }
    &-icon{
        padding: 0 30px;
        color: $icon-color;
        &:hover{
            color: $color-primary;
        }
    }
    &-txt{
        padding: 0 20px;
    }
    &:hover{
        background: $color-primary-btn;
        .btn-second-icon{
            color: $color-primary;
        }
    }
}

.menu__btn{
    text-align: center;
    margin: 50px 0px;
}