.__cont{
    // animation: loaderbackg 3.3s;
}

.loader{
    &__cont{
        position: sticky;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        bottom: 50%;
        right: 50%;
        z-index: -1;
    }
    &__anim{
        width: 272px;
        height: 272px;
        // animation: loader 2.9s 100ms;
        opacity: 0;
    }
}

@keyframes loader {
    0% {
        opacity: 1;
    }

    70% {
        opacity: 1;
        transform:rotateY(1440deg);
    }

    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotateY(1440deg);
    }
}
@keyframes loaderbackg {
    0% {
        opacity: 0;
    }
    79% {
        opacity: 0;
    }
    80% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}