html {
	scroll-behavior: smooth;
}
body {
    margin: 0;
}
.main-container {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    @media (min-width: 767.98px){
        padding: 50px 15%;
        margin: auto;
    }
}
.menu_container{
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
}
.title-section{
    margin: 20px 0;
}