.presentation{
    background: $background-color;
    text-align: center;
    align-items: center;
    padding: 70px 0;
}

.fonctionnement{
    // flex-direction: row;
}

.restaurant{
    background: $background-color;
}
