.presentation{
    background: $background-color;
    text-align: center;
    align-items: center;
    padding: 70px 0;
}

.fonctionnement{
    @media (min-width: 767.98px){
        div{
            display: flex;
        }
        .btn-second{
            margin: 0 20px;
        }
    }
}

.restaurant{
    background: $background-color;
}
.resp-destop{
    @media (min-width: 767.98px){
        display: inline-flex;
        flex-direction: row;
    }
}
